
.sul__bio {
    background-color: white;
    min-height: 300px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.sul__notes {
    background-color: white;
    min-height: 80px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.sul__equipment-list {
    border: 5px;
    display: flex;
    flex-direction: column;
    min-height: 200px;

    .sul__item-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid grey;
        padding-bottom: 2px;
        margin-bottom: 10px;

        .sul__item-name {
            font-family:'Times New Roman', Times, serif;
            font-weight: bold;
            font-size: 1.3em;
            width: 20%;
            margin-right: 10px;
        }

        .sul__item-desc {
            font-family:'Times New Roman', Times, serif;
        }

        .sul__item-icons {
            margin-left: auto;
            width: 7%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }
}

