
.sul__item-sheet {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.sul__item-header {
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
}

.sul__item-img {
    border: 0;
    cursor: pointer;
    width: auto;
    height: 200px;
    max-width: 300px;
    object-fit: contain;
    padding-right: 15px;
    padding-bottom: 5px;
}

.sul__item-stats {
    display: flex;
    flex-direction: column;
}

.sul__item-tbl {

    tr {
        background-color: antiquewhite;
    }
}